name: Maven Build & Publish Artifact

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: 'maven'

    
    - name: Build with Maven
      run: mvn clean package --file pom.xml

    - name: Copy JAR to project root
      run: |
        if [ -f target/*.jar ]; then
          cp target/*.jar .
          echo "Successfully copied JAR to root."
        else
          echo "Error: JAR file not found in target/ directory."
          exit 1 # Fail the step if the JAR is missing
        fi
      if: success()
